[package]
name = 'editor'
version = '0.0.0'
authors = ['Matthias Fauconneau <matthias.fauconneau@gmail.com>']
edition = '2018'

[dependencies]
fehler = '' # #[throws] expects {{root}}::fehler
error = { version='', package='anyhow' }
#iter = { path='../iter' }
ui = { path='../ui', features = ['color','text','edit'] } #,'app'], optional=true }
rust = { path='rust', optional = true }

[features]
app = ['ui/app']
default = ['rust','app']

[profile.dev.package.image]
opt-level = 2
