[package]
name = 'editor'
version = '0.0.0'
authors = ['Matthias Fauconneau <matthias.fauconneau@gmail.com>']
edition = '2018'

[dependencies]
fehler = '' # #[throws] expects {{root}}::fehler
core = { path='../core', features = ['fehler'] }
itertools = ''
image = { path='../image' }
ui = { path='../ui', features = ['edit','app'] } #,'timeout','trace'] }
rust-analyzer = { path='rust-analyzer', optional = true }

[features]
highlight = ['rust-analyzer','ui/color']

[profile.dev.package.image]
opt-level = 2
