[package]
name = 'editor'
version = '0.0.0'
authors = ['Matthias Fauconneau <matthias.fauconneau@gmail.com>']
edition = '2018'

[dependencies]
fehler = '' # #[throws] expects {{root}}::fehler
framework = { path='../framework', features = ['anyhow','fehler','color_sRGB','text'] }
rust-analyzer = { path='rust-analyzer' }
