[package]
name = 'editor'
version = '0.0.0'
authors = ['Matthias Fauconneau <matthias.fauconneau@gmail.com>']
edition = '2018'

[dependencies]
fehler = '' # #[throws] expects {{root}}::fehler
framework = { path='../framework', features = ['fehler','anyhow','text-edit','window','timeout','trace'] }
rust-analyzer = { path='rust-analyzer', optional = true }

[features]
highlight = ['rust-analyzer','framework/color']
